@page "/{GameId}"
@using BattleShip.Models
@using System.Text.Json
@inject HttpClient Http
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject GameService GameService

@attribute [Authorize]

<PageTitle>Home</PageTitle>
@if (gameExist) {
	<div class="grid opponent-grid" style="--grid-size:@GridSize">
		@for (int row = 0; row < GridSize; row++) {
			@for (int col = 0; col < GridSize; col++) {
				(int rowT, int colT) = (row, col);
				<div class="cell"
					 @onclick="() => ClickCell(rowT , colT)">
					<div class="hit @HitStateString(PlayerHitGrid[row,col])"></div>
				</div>
			}
		}
	</div>

	<div class="grid player-grid" style="--grid-size:@GridSize">
		@for (int row = 0; row < GridSize; row++) {
			@for (int col = 0; col < GridSize; col++) {
				<div class="cell @PlayerGrid[row, col]">
					<div class="hit @HitStateString(OpponentHitGrid[row,col])"> </div>
				</div>
			}
		}
	</div>
	<div class="hit-history">
		<h1>Historique des coups</h1>
		@foreach (var h in GameHits) {
			<p>
				@h.Item1 (@h.Item2.Row,@h.Item2.Col) @HitStateString(h.Item2)
			</p>
		}
	</div>
}

